@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @*Cascading Parameters*@
        @*Need a name to differentiate!*@
        @*If you do it this way, there is a better way*@
        @*<CascadingValue Value="@Color" Name="Color">
            <CascadingValue Value="@Size" Name="Size">
                @Body
            </CascadingValue>
        </CascadingValue>*@

        <CascadingValue Value="appState">
            @Body
        </CascadingValue>
    </div>
</div>

@code {
    AppState appState = new AppState();
    public class AppState
    {
        public string Color { get; set; } = "red";
        public string Size { get; set; } = "12px";
    }
}