@page "/"

<div>
    <h3>Movie</h3>
    @*So we can use this in as many pages as we want*@
    <MoviesList Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add New Movie</button>

@code{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}