@page "/"
@inject SingeltonService singelton
@inject IRepository repository
@using static BlazorMovies.Client.Shared.MainLayout; 

<p style="color: @AppState.Color">Singelton Count: @singelton.Value</p>

<div>
    <h3>Movie</h3>
    @*So we can use this in as many pages as we want*@
    <MoviesList Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add New Movie</button>

@code{
    [CascadingParameter] public AppState AppState { get; set; }
    private MoviesList moviesList;
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}