@page "/"
@inject IRepository repository

<div>
    <h3>Movie</h3>
    @*So we can use this in as many pages as we want*@
    <MoviesList Movies="movies" />
</div>

@code{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }
}